@charset "utf-8";
/* CSS Document */
/*全局样式*/
body { font-family:"微软雅黑"; font-size:12px; color:#333; -webkit-user-select: none; 
  user-select: none;
  overflow: hidden;}
* { margin:0px; padding:0px; list-style:none;}
.clear { clear:both;}
a { color:#333; text-decoration:none;}
a:hover { color:#0069ad; text-decoration: none;}
.fl { float:left;}
.fr { float:right; }
ul { list-style:none; margin:0px; padding:0px;}
img { border:0px; max-width:100%;}
.dbgao { height:80px;}

html {
    font-size : 20px;
}
@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important; 
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 35px !important; 
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important; 
    }
}
/*首页头部*/
.ltop { width:100%; height:auto; padding:20px 0px;}
.ltop img { width:100%;}
.ltopl { width:35%; padding-left:8px;}
.ltopr { width:40%; margin-top:10px;}
.dhtp { float:left; width:22%; margin-right:5px; }
.ltopr p { font-size:1em; line-height:1.3em;  }
.ltopr p strong { font-size:1.3em;}

/*ban*/
.slider-focus{position:relative;max-width:640px;overflow:hidden;/*max-height:320px;*/margin:0px auto;}
.slider-focus .hd{ position:absolute;width:100%;height:22px;left:0;bottom:2%;z-index:1;line-height:28px;text-align:center;}
.slider-focus  .hd li{ display:inline-block;vertical-align:middle;width:13px;height:13px;margin:0 3px;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;border-radius:50%;font-size:0;line-height:0;text-indent:-9999em;background:#fff; cursor:pointer;}
.slider-focus  .hd li.on{ background:#ffea00;  }
.slider-focus  .bd{ position:relative; z-index:0; }
.slider-focus  .bd li{ position:relative; text-align:center;  }
.slider-focus  .bd li img{ vertical-align:top;width:100%;/* 图片宽度100%，达到自适应效果 */}
.slider-focus  .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }  /* 去掉链接触摸高亮 */
.slider-focus  .bd li .tit{ display:block; width:100%;  position:absolute; bottom:0; text-indent:10px; height:28px; line-height:28px; background:url(images/focusBg.png) repeat-x; color:#fff;  text-align:left;  }


/*关于我们*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;vertical-align:baseline;outline:0;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html{overflow-y:scroll}
/* page structure */
header{display:block;width:100%;height:55px;text-align:center;}
header strong {font-size:1rem; color:#515151; line-height:55px; font-weight: 100;}
.menubtn{position:relative;z-index:101;text-decoration:none;background-image:url(../images/nav.png);background-position: center center; background-repeat:no-repeat; width:30px; height:55px; float:right;  margin-right:10px;}
.menubt{position:relative;z-index:101;text-decoration:none;/*background-image:url(../images/nav.png);background-position: center center; background-repeat:no-repeat;*/ width:30px; height:55px; float:right;  margin-right:10px;}
a.fanhui { width:20px; height:55px; float:left; margin-left:10px; background:url(../images/back.png) no-repeat center;}

/* toggle menu */
#pgcontainer{padding:0;margin:0}
.overlay{position:fixed;z-index:99;background-color:rgba(0,0,0,.5);bottom:0;right:0;left:0}

.zymain { width:100%; height:auto;z-index: 1;position: relative;}

h3.title {
            color: #F2AE11;
            font-size: 0.7rem;
            margin-bottom: 0.5rem;
            text-align: center;
            font-weight: 500;
            line-height: 1.1;
        }
        h3.title span {
            display: block;     /*设置为块级元素会独占一行形成上下居中的效果*/
            font-size: 0.8rem;
            color: #212121;
            position: relative;   /*定位横线（当横线的父元素）*/
        }
        h3.title span:before, h3.title span:after {
            content: '';                 /*CSS伪类用法*/
            position: absolute;         /*定位背景横线的位置*/
            top: 52%;
            background: #E6E6E6;       /*宽和高做出来的背景横线*/
            width: 20%;
            height: 2px;
        }
        h3.title span:before{
            left: 14%;        /*调整背景横线的左右距离*/
        }
        h3.title span:after {
            right: 14%;
        }
        
.xq5b {
	float: left;
	width: 100%;
	text-align: center;
}

table,
table tr th,
table tr td {
	border: 1px solid #E9E9E9;
}
table{
	color: black;
	line-height: 40px;
	margin: auto;
	width: 100%;
	height: 10rem;
	
}
td
{
    text-align:center;
    width: 30%;
   
}
tr{
	 height=4rem;
}

.swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
    
   	   width: 30%;
    	margin-right: 5px;
    	
	 
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
  
.jst2 span{
font-size: 0.5rem;
text-align: left;

}
.jsta{
	float: left;width:4rem;height:4rem;position:absolute; border-radius:60% ;margin-top: -30%; z-index:2;
}
.jst1{
	 float: left;width: 100%;height: 60%;margin-top:50%;border: 0.05rem solid #EBEBEB;text-align: center;box-shadow: 0.15px 0.15px 0.15px 0.15px #EEEEEE;
}
.jst1 h1{
	 float: left;width: 100%; font-size: 0.7rem;color: black;margin-top: 3rem;font-weight: 500;text-align: center;font-weight: 520;
}
.jst2{
	 float: left;width: 100%; margin-top: 0.2rem;height: 1.3rem;
}





/*团购样式*/
.tg{
	width: 4rem;
	height: 1.4rem;
	background: #969898;
	opacity: 0.8;
	top: 0.5rem;
	right:0.5rem ;
	float:right;
	z-index: 2;
	position: absolute;
	border-radius:0.7rem ;
	color: white;
	font-size: 0.7rem;
	line-height: 1.4rem;
	text-align: center;
}
.tg1{
	width: 90%;
	margin-left: 5%;
	float: left;
	height: 2.5rem;

	margin-top: 0.5rem;
}
.tg2{
	width: 100%;
	height: 1.3rem;
	float: left;
	
}
.tg2 a{
	color: #2476C8;
	font-size: 0.9rem;
	float: left;
}
.tg2 p{
	font-size: 0.7rem;
	line-height: 1.3rem;
	margin-left: 0.5rem;
	float: left;
	color: #999999;
}
.tg3 p{
	float: right;
	font-size: 0.7rem;
	color: #666666;
}
.tg4{
	float: left;
	margin-top: 0.05rem;
	height: 1rem;
	
	width: 100%;
}
.tg4 a{
	color: black;
	font-size: 0.8rem;
	float: left;
}
.tga{
	width: 90%;
	height: 4rem;
	margin-left: 5%;
	float: left;
	margin-top: 0.5rem;

}
.tga1{
	width: 100%;
	float: left;
	height: 1rem;
	
	color: black;
	font-size: 0.7rem;
}
.tga1 p{
	font-size: 0.65rem;
	float: right;
	color: #666666;
}
.tga2{
	width: 100%;
	height:3rem;
	float: left;
	
}
.tgax{
	width: 2.5rem;
	height: 3rem;
	float: left;
	text-align: center;
}
.tgaxc{
	width: 2.5rem;
	height: 3rem;
	float: left;
	margin-left:0.5rem ;
	text-align: center;
}
.tgax1{
	width: 2.5rem;
	height: 2.5rem;
	border-radius:2.5rem ;
	
	float: left;
}
.tgax p{
	font-size: 0.6rem;
}
.tgax1 img{
	width: 100%;
	height: 100%;
}
.tgaxc p{
	font-size: 0.6rem;
}