@charset "utf-8";

/* CSS Document */


/*个人加盟后台全局样式*/

body {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #333;
	background: #F5F4F9;
}

* {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

html {
	font-size: 20px;
}

@media only screen and (min-width: 401px) {
	html {
		font-size: 25px !important;
	}
}

@media only screen and (min-width: 428px) {
	html {
		font-size: 26.75px !important;
	}
}

@media only screen and (min-width: 481px) {
	html {
		font-size: 30px !important;
	}
}

@media only screen and (min-width: 569px) {
	html {
		font-size: 35px !important;
	}
}

@media only screen and (min-width: 641px) {
	html {
		font-size: 40px !important;
	}
}

.clear {
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

img {
	border: 0px;
	max-width: 100%;
}

.dbgao {
	height: 80px;
}

关于我们 a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html {
	overflow-y: scroll
}


/* page structure */

header {
	display: block;
	width: 100%;
	height: 55px;
	text-align: center;
}

header strong {
	font-size: 1rem;
	color: #FFF;
	line-height: 55px;
	color: black;
	font-weight: 100;
	margin-right: 5%;
}

.menubtn {
	position: relative;
	z-index: 101;
	text-decoration: none;
	background-image: url(../images/nav.png);
	background-position: center center;
	background-repeat: no-repeat;
	width: 30px;
	height: 55px;
	float: right;
	margin-right: 10px;
}

a.fanhui {
	width: 20px;
	height: 55px;
	float: left;
	margin-left: 10px;
	background: url(../images/back.png) no-repeat center;
}

.zymain {
	width: 100%;
	height: auto;
}

.zybt {
	width: 100%;
	margin: 10px 0px;
}

li{
	border-bottom: 0.05rem solid #EBEBEB;
	font-size: 0.7rem;
	height: 2.5rem;
	
	}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 100%;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

#myImgx {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImgx:hover {opacity: 0.7;}

/* The Modal (background) */
.modalx {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-contentx {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#captionx {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 100%;
}

/* Add Animation */
.modal-contentx, #captionx {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

/* The Close Button */
.closex {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.closex:hover,
.closex:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.gsa{
	  float:left;width: 90%;margin-left: 5%;border-radius:0.25rem ;height: 26rem;background: white;
}
.gsa1{
	 float: left; width: 90%;margin-left: 5%;margin-top: 1rem;
}
.gsa2{
	float:right;margin-top: 0rem;height: 4rem;border:0.05rem solid #EBEBEB ; width: 100%;border-radius:0.25rem ;
}
.gsa2 h1{
	color: black;font-size: 0.65rem;font-weight: 400;
}
.x{
	float: left; width: 100%;height: 0.05rem;background: #EBEBEB;margin-top: 0.5rem;
}
.gsl{
	float: left; width: 90%;margin-left: 5%;height: 6rem;margin-top: 0.5rem;
}
.gsa1 h1{
	 font-size: 0.7rem;color: black;font-weight: 200;
}
.gsl1{
	 width: 32%;height: 4.5rem;float: left;margin-top: 0.5rem;
}
.gsl2{
	width: 32%;float: left; height: 4.5rem;float: left;margin-top: 0.5rem;margin-left: 1.2%;
}



#myImgxx {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImgxx:hover {opacity: 0.7;}

/* The Modal (background) */
.modalxx {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-contentxx {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#captionxx {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 100%;
}

/* Add Animation */
.modal-contentxx, #captionxx {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

/* The Close Button */
.closexx {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.closexx:hover,
.closexx:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.sj{
	width: 90%;float: left;margin-left: 5%;height: 2rem;background:#2476C8;
    border-radius:0.25rem ;
    border: 0rem;
    color: white;
    font-size: 0.75rem;
}
