.jjax{
	width: 90%;margin-left: 5%;float: left;margin-top: 0.5rem;
}
.huiyuan1{
	border-bottom: 1px solid whitesmoke;width: 100%;height: 3rem;
}
.yuan1{
	float: left; width: 40%;margin-left: 2%;height: 3rem;
}
.yuan1 h1{
	color: black;font-size: 0.85rem;float: left;line-height:3rem;font-weight: 400;
}
.yuan2{
	float: right;margin-top: -3rem; width: 2.5rem;height: 3rem;margin-left: 75%;
}
.huiyuan3{
	border-bottom: 1px solid whitesmoke;width: 100%;height: 3rem;
}
.yuan4{
	 float: left; width: 40%;margin-left: 2%;height: 3rem;
}
.yuan4 h1{
	 color: black;font-size:  0.85rem;float: left;line-height: 3rem;font-weight: 400;
}
.yuan5{
	float: right;margin-top: -3rem;width: 4rem;height: 3rem;margin-left: 70%;
}
.yuan5 h1{
	 color: black;font-size:  0.85rem;float: right;line-height: 3rem;font-weight: 400;
}
.huiyuan4{
	 border-bottom: 1px solid whitesmoke;width: 100%;height: 3rem;
}
.yuanz{
	 float: left; width: 40%;margin-left: 2%;height: 3rem;
}
.yuanz h1{
	color: black;font-size: 0.85rem;float: left;line-height: 3rem;font-weight: 400;
}
.yuans{
	float: right;margin-top: -3rem;width: 25%;height: 3rem;margin-left: 65%;
}
.yuans h1{
	color: black;font-size:  0.85rem;float: right;line-height: 3rem;font-weight: 400;
}
.huiyuan5{
	border-bottom: 1px solid whitesmoke;width: 100%;height: 3rem;
}
.yuanr{
	float: left; width: 40%;margin-left: 2%;height: 3rem;
}
.yuanr h1{
	color: black;font-size: 0.85rem;float: left;line-height:3rem;font-weight: 400;
}
.yuanzx{
	float: right;margin-top: -2.5rem; width: 2rem;height: 2rem;margin-left: 75%;
}
.huiyuan6{
	 border-bottom: 1px solid whitesmoke;width: 100%;height: 3rem;
}
.yuanw{
	 float: left; width: 40%;margin-left: 2%;height: 3rem;
}
.yuanw h1{
	 color: black;font-size:  0.85rem;float: left;line-height: 3rem;font-weight: 400;
}
.yuant{
	float: right;margin-top: -3rem;width: 20%;height: 3rem;margin-left: 89%;
}
.yuant h1{
	 color: black;font-size:  0.85rem;float: right;line-height: 3rem;font-weight: 400;
}
.huiyuan7{
	border-bottom: 1px solid whitesmoke;width: 100%;height: 3rem;
}
.yuano{
float: left; width: 40%;margin-left: 2%;height: 3rem;
}
.yuano h1{
	color: black;font-size:  0.85rem;float: left;line-height: 3rem;font-weight: 400;
}
.yuanp{
	 float: right;margin-top:-3rem;width: 20%;height: 3rem;margin-left: 89%;
}
.yuanp h1{
	color: black;font-size:  0.85rem;float: right;line-height: 3rem;font-weight: 400;
}
.hyxi{
	color: black;
	width: 100%;height: 0.5rem;background: #EBEBEB;float: left;margin-top: 0.5rem;
}
.hyxiw{
	width: 90%;margin-left: 5%;float: left;height: 2rem;margin-top: 0.5rem;
}

.hyxiw h1{
	color: black;
	margin-left: 3%; float: left;color: black;height: 2rem;
	 float: left;font-size: 0.8rem;font-weight: 400;line-height: 2rem;
}
.hy{
	float: right;
	
}
.hy img{
	float: right;
	margin-top: 0.5rem;
	height: 100%;
	width: 100%;
}
.xx1{
	height: 2rem;
}
