.hiy1x{
	border-bottom: 1px solid whitesmoke;width: 100%;height: 2rem;
}
.ya1x{
	float: left; width: 40%;margin-left: 2%;height: 2rem;
}
.ya1x h1{
	color: black;font-size: 0.85rem;float: left;line-height:2rem;font-weight: 400;
}
.yuan2x{
	float: right;margin-top: -2.2rem; width: 2rem;height: 2rem;margin-left: 75%;
}
.huiyuan3{
	border-bottom: 1px solid whitesmoke;width: 100%;height: 2rem;
}
.yuan4{
	float: left; width: 40%;margin-left: 2%;height: 2rem;
}
.yuan4 h1{
	 color: black;font-size:  0.85rem;float: left;line-height:2rem;font-weight: 400;
}
.yuan5{
	float: right;margin-top: -2rem;width: 4rem;height: 2rem;margin-left: 70%;
}
.yuan5 h1{
	color: black;font-size:  0.85rem;float: right;line-height: 2rem;font-weight: 400;
}
.huiyuan4{
	 border-bottom: 1px solid whitesmoke;width: 100%;height: 2rem;
}
.yanx{
	 float: left; width: 40%;margin-left: 2%;height: 2rem;
}
.yanx h1{
	color: black;font-size: 0.85rem;float: left;line-height:2rem;font-weight: 400;
	
}
.ya{
	float: right;margin-top: -2rem;width: 25%;height: 2rem;margin-left: 65%;
}
.ya h1{
	color: black;font-size:  0.85rem;float: right;line-height: 2rem;font-weight: 400;
}
.hun{
	border-bottom: 1px solid whitesmoke;width: 100%;height: 2rem;
}
.hunx{
	 float: left; width: 40%;margin-left: 2%;height: 2rem;
}
.hunx h1{
	color: black;font-size: 0.85rem;float: left;line-height:2rem;font-weight: 400;
}
.yuanx{
	float: right;margin-top: -1.8rem; width: 1.5rem;height: 1.5rem;margin-left: 75%;
}
.huiyuan6{
	 border-bottom: 1px solid whitesmoke;width: 100%;height: 2rem;
}
.yux{
	float: left; width: 40%;margin-left: 2%;height: 2rem;
}
.yux h1{
	color: black;font-size:  0.85rem;float: left;line-height: 2rem;font-weight: 400;
}
.yux1{
	float: right;margin-top: -2rem;width: 20%;height: 2rem;margin-left: 89%;
}
.yux1 h1{
	 color: black;font-size:  0.85rem;float: right;line-height: 2rem;font-weight: 400;
}
.huiyuan7{
	border-bottom: 1px solid whitesmoke;width: 100%;height: 2rem;
}
.yx{
	float: left; width: 40%;margin-left: 2%;height: 2rem;
}
.yx h1{
	color: black;font-size:  0.85rem;float: left;line-height: 2rem;font-weight: 400;
}
.yx1{
	float: right;margin-top:-2rem;width: 20%;height: 2rem;margin-left: 89%;
}
.yx1 h1{
	color: black;font-size:  0.85rem;float: right;line-height: 2rem;font-weight: 400;
}
.ha{
	 border-bottom: 1px solid whitesmoke;width: 100%;height: 3.5rem;
}
.hax{
	float: left; width: 40%;margin-left: 2%;height: 2rem;
}
.hax h1{

   color: black;font-size: 0.85rem;float: left;line-height:2rem;font-weight: 400;	
}
.hax1{
	float: right;margin-top: -1.5rem;width: 70%;height: 3.5rem;margin-left: 25%;
}
.hax1 h1{
	color: black;font-size:  0.85rem;float: right;line-height: 1rem;font-weight: 400;
}
.hyq{
	  width: 90%;margin-left: 5%;float: left;margin-top: 0.5rem;
}
.hyq1{
	border-bottom: 1px solid whitesmoke;width: 100%;height: 2rem;
}
.hyq2{
	float: left; width: 40%;margin-left: 2%;height: 2rem;
}
.hyq2 h1{
	 color: black;font-size:  0.85rem;float: left;line-height: 2rem;font-weight: 400;
}
.hyqs{
	float: right;margin-top:-2rem;width: 20%;height: 2rem;margin-left: 89%;
}
.hyqs h1{
	color: black;font-size:  0.85rem;float: right;line-height: 2rem;font-weight: 400;
}
.hw{
	border-bottom: 1px solid whitesmoke;width: 100%;height: 2rem;
}
.hwx{
	float: left; width: 40%;margin-left: 2%;height: 2rem;
}
.hwx h1{
	color: black;font-size:  0.85rem;float: left;line-height: 2rem;font-weight: 400;
}
.hwx1{
	 float: right;margin-top:-2rem;width: 20%;height: 2rem;margin-left: 89%;
}
.hwx1 h1{
	 color: black;font-size:  0.85rem;float: right;line-height: 2rem;font-weight: 400;
}
