@charset "utf-8";
/* CSS Document */
/*全局样式*/
body { font-family:"微软雅黑"; font-size:15px; color:#333;background: #F5F4F9;}
* { margin:0px; padding:0px; list-style:none;}


html {
    font-size : 20px;
}
@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important; 
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 35px !important; 
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important; 
    }
}

.clear { clear:both;}

.fl { float:left;}
.fr { float:right; }
ul { list-style:none; margin:0px; padding:0px;}
img { border:0px; max-width:100%;}
.dbgao { height:80px;}


关于我们
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;vertical-align:baseline;outline:0;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html{overflow-y:scroll}
/* page structure */
header{display:block;width:100%;height:55px;text-align:center;background: white;}
header strong {font-size:1rem; color:#FFF; line-height:55px;color: black; font-weight: 100;}
.menubtn{position:relative;z-index:101;text-decoration:none;/*background-image:url(../images/nav.png);*/background-position: center center; background-repeat:no-repeat; width:30px; height:55px; float:right;  margin-right:10px;}
a.fanhui { width:20px; height:55px; float:left; margin-left:10px; background:url(../images/back.png) no-repeat center;}

.zymain { width:100%; height:auto;/*max-width: 640px;margin: auto;*/}
.zybt { width:100%; margin:10px 0px; }

 
    .hidden{ display: none;}
	.lanren{width: 100%;height: auto;margin:0px auto;overflow: hidden;text-align: left;}
	.lanren ul.list{overflow: hidden;}
	.lanren ul.list li{background: white; width: 100%;height:5.5rem;margin:0px;float: left;overflow: hidden;}
	.lanren ul.list li img{width: 100%;height: 100%;}
	.lanren ul.list p{text-align: center;padding: 10px;}
	.lanren .more{overflow: hidden;padding:10px;text-align: center;}
	.lanren .more a{display: block;width: 100%;padding:8px 0;color:black;margin:0 auto;background:#EBEBEB;text-align:center;border-radius:3px;font-size: 0.7rem;}
	.lanren .more a:hover{text-decoration: none;background: red;color: black;}



.cwt{
 width: 100%;border-bottom: 0.5rem solid #E5E5E5;
}

.cwt1{
width: 90%;height: 0.5rem;margin-left: 5%;
}
.cwt1 h1{
 float:left; color: #959595;font-size: 0.7rem;font-weight: 200;line-height: 0.15rem;
}
.cwt1 h2{
 float: right; color: #959595;font-size: 0.6rem;font-weight: 200;line-height: 0.15rem;width: 100%;
}
.cwli{
 float: left;height:5.5rem;width: 90%;margin-left: 5%;
}
.cwlig{
 float: left;margin-top: 1rem;
}
.cww{
 float: left;width: 75%;height: 5.5rem;
}
.cww h1{
	 font-size: 0.9rem;margin-top: 1.1rem;margin-left: 0.8rem;font-weight: 400;color: black;
}
.cww h2{
	 font-size: 0.7rem;margin-left: 0.8rem;margin-top: 0.5rem;font-weight: 400;color: black;
}
.cws{
 float: right;margin-right: 5%;height: 1.5rem;font-size: 0.7rem;width: 3rem;
}
.cws h1{
 color: #2576C8;font-size: 0.7rem;float: right;font-weight: 200;margin-top: 0.5rem;
}
.cwts{
 float: left;margin-left: 5%;height: 1.3rem;
}
.cwts h2{
 float: left; color: #999999;font-size: 0.6rem;font-weight:200;
}
.cwx{
float: left; width: 100%;height: 0.5rem;background: #EBEBEB;
}
.wy{
	width: 100%;
	float: left;
	height: 3rem;
	background: #F5F4F9;
} 

.wya{
	width:4rem;
	height: 1.5rem;
	float: left;
	margin-left: 15%;
	margin-top: 0.5rem;
	font-size: 0.8rem;
	text-align: center;
	color: white;
	line-height: 1.5rem;
	border-radius: 0.25rem;
}
.wyb{
	width: 4rem;
	height: 1.5rem;
	float: right;
	margin-right: 15%;
	margin-top: 0.5rem;
	border-radius: 0.25rem;
}
.jrx {
	width: 100%;
	height: 1.5rem;
	float: left;
	
}
.jrx1{
	width: 100%;
	height: 1.5rem;
	float: left;
	}
.btn {
	font-size: 0.8rem;
	line-height: 1.5rem;
	text-align: center;
	background: #2476C8;
	color: #fff;
	width: 100%;
	border-radius: 0.25rem;
}
.btn2{
	font-size: 0.8rem;
	line-height: 1.5rem;
	text-align: center;
	background: #C9C9C9;
	color:white;
	width: 100%;
	border-radius:0.25rem ;
	border: 0.05rem solid#C9C9C9;
}

.bounce {
	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both -webkit-transform-origin: center bottom;
	-ms-transform-origin: center bottom;
	transform-origin: center bottom
}
.bounce2{
	-webkit-animation-name: bounce2;
	animation-name: bounce2;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both -webkit-transform-origin:center bottom;
	-ms-transform-origin:center  bottom;
	transform-origin:center  bottom;  
}
#jq22 {
	animate-duration: 2s;
	/*//动画持续时间*/
	animate-delay: 1s;
	/*//动画延迟时间*/
	animate-iteration-count: 1;
	/*//动画执行次数*/
}
#jq24{
	animate-duration:2s;
	animate-delay:1s;
	animate-iteration-count:1;
	
}

@-webkit-keyframes bounce {
	0% {
		background: #2476C8;
	}
	50% {
		background: #e4efe9;
	}
	100% {
		background: #2476C8;
	}
}

@-webkit-keyframes bounce2{
	0%{
		background: #a6c1ee;
	}
	50%{
		background: #EBEBEB;
	}
	100%{
		background: #a6c1ee;
	}
}

@keyframes bounce {
	0% {
		background: #2476C8;
	}
	50% {
		background: #e4efe9;
	}
	100% {
		background: #2476C8;
	}
}
@keyframes bounce2{
	0%{
		background: #a6c1ee;
		
	}
	50%{
		background: #EBEBEB;
	}
	100%{
		background: #a6c1ee;
	}
}
