@charset "utf-8";
/* CSS Document */
/*全局样式*/
body { font-family:"微软雅黑"; font-size:12px; color:#333;}
* { margin:0px; padding:0px; list-style:none;}


html {
    font-size : 20px;
}
@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important; 
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 35px !important; 
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important; 
    }
}

.clear { clear:both;}

.fl { float:left;}
.fr { float:right; }
ul { list-style:none; margin:0px; padding:0px;}
img { border:0px; max-width:100%;}
.dbgao { height:80px;}


关于我们
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;vertical-align:baseline;outline:0;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html{overflow-y:scroll}
/* page structure */
header{display:block;width:100%;height:55px;text-align:center;}
header strong {font-size:1rem; color:#FFF; line-height:55px;color: black; font-weight: 100;margin-right: 5%;}
/*.menubtn{position:relative;z-index:101;text-decoration:none;background-image:url(../images/nav_btn.png);background-position: center center; background-repeat:no-repeat; width:30px; height:55px; float:right;  margin-right:10px;}*/
a.fanhui { width:20px; height:55px; float:left; margin-left:10px; background:url(../images/back.png) no-repeat center;}

.zymain { width:100%; height:auto;}
.zybt { width:100%; height:80px;  margin:10px 0px; }


.xya1 ul li{
	width: 100%;
	float: left;
	font-size: 0.7rem;
	line-height: 1rem;
	
}
.xyb{
	width: 100%;
	float: left;
	font-size: 0.7rem;
	line-height: 1rem;
	margin-top: 0.8rem;
}

.xyb1{
	width: 100%;
	float: left;
	font-size: 0.7rem;
	line-height: 1rem;
	margin-top: 0.8rem;
}
